/*  your css code here. If applicable */
.card{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	height:400px;
	width:350px;
	border:1px solid black;
	border-radius:10px;
	background-color:rgb(241,241,241);
	margin:auto;
	padding:10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card>p{
	margin-top:0px;
	margin-bottom:2px;
}
.card>h1{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:2px;
}
#btn{
	padding:10px;
	width:90px;
	border-radius:10px;
	background-color:rgb(254,98,90);
	color:white;
	border:none;
}